body {
  background-color: #0a192f;
}

#top {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  position: relative;
}

#top h1 {
  margin: 0;
  flex: 1;
}

#top img {
  top: 0;
  left: 0;
  width: 100px;
  height: auto; 
  z-index: 9999; 
  position: absolute;
}
/* texts */

h1 {
  font-family: Georgia, serif;
  color: white;
  text-align: center;
}

h2 {
  font-family: Georgia, serif;
  color: white;
}

h3 {
  font-family: Georgia, serif;
  color: white;
}

h4 {
  font-family: Georgia, serif;
  color: white;
}

p {
  font-family: Verdana, Tahoma, sans-serif;
  color: white;
  font-size: 120%;
}

a {
  font-family: Verdana, Tahoma, sans-serif;
}

/* tables style*/


table,th,td {
  font-family: Verdana, Tahoma, sans-serif;
  border: 1px solid white;
  color: white;
  border-collapse: collapse;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #884B58;
}

.hover-effect_single td:hover {
  background-color: #58283A;
}

.hover-effect_line tr:hover {
  background-color: #6D2E46;
}

/* lists style */

ul,li,ol,dl,dt,dd {
  color: white;
  font-size: 110%;
}

/* navbar */

.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-attachment: #a5a5a5;
}

.navbar li {
  float: left;
}

.navbar li a {
  display: block;
  color: rgb(231, 231, 231);
  text-align: center;
  padding: 16px;
  text-decoration: none;
  font-size: 90%;
}

.navbar li a:hover {
  background-color: #000000;
}

li a,
.dropbtn {
  display: inline-block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover,
.dropdown:hover .dropbtn {
  background-color: #6D2E46;
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #BC908E;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgb(83, 81, 81);
  z-index: 9999;
  position: fixed;
}

.dropdown-content a {
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: black;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* Center navbar */

.center-navbar {
  display: flex;
  justify-content: center;
}

.center-navbar li {
  float: none;
  display: inline-block;
}

/* button style */

a.button{
  display:inline-block;
  padding:0.5em 3em;
  border:0.16em solid #7B3D4F;
  margin:0 0.3em 0.3em 0;
  box-sizing: border-box;
  text-decoration:none;
  text-transform:uppercase;
  font-family:'Roboto',sans-serif;
  font-weight:400;
  color:#FFFFFF;
  text-align:center;
  transition: all 0.15s;
  }
a.button:hover{
  color:#884B58;
  border-color:#B48A88;
}
a.button:active{
  color:#BBBBBB;
  border-color:#BBBBBB;
}
@media all and (max-width:30em){
a.button{
  display:block;
  margin:0.4em auto;
}
}
